@import 'rupture'
@import "variable/_constant.styl"
@import "variable/_function.styl"
@import "variable/_ie.styl"
/* -------------- style for sprite --------------*/
@import "icon/sprite.css"

/* -------------- style for font-icon --------------*/
@import "icon/style.css"

/* -------------- style for reset --------------*/
@import "variable/_default.styl"

/* -------------- style for elements --------------*/
@import "variable/_element.styl"

/* -------------- style for fonts --------------*/
@import "variable/_fonts.styl"

rupture.scale = 0 480px 768px 992px 1200px
rupture.scale-names = 'xs' 'sm' 'md' 'lg'

/* -------------- style basic --------------*/
body
	+below(768px)
		background-size initial
		background-repeat repeat-y
	font-size 14px
	font-family PT Sans
	overflow-x hidden
	bgi('main-bg.jpg')
	background-size cover
a
	color white
.owl-carousel .owl-item
	height auto
	width 100%
	display  block

.main-cont
	center(1200px)
	position relative
	width 100%
	padding  0 10px
	+above(1200px)
		width 1200px
.section-main
	+below(768px)
		overflow-y auto
	f()
	fl() 
	overflow hidden
	width 100%
	height 100vh
	position relative
.section--red
	background red 
.rows
	+below(1378px)
		background-position-x -400px  
	position absolute!important
	bgi('row.png')
	top 0
	left 0
	width 100%
	height 100%
.icon
	font-size 24px
	color white
	flex(mid)
.owl-next,.owl-prev
	position absolute
	top 50%
	margin-top -30px
.owl-carousel
	position relative
	.icon
		font-size 64px
.owl-prev
	+below(768px)
		left -5%
	left 1%
.owl-next
	+below(768px)
		right -5%
	right 1%
.owl-dots
	width 100%
	flex(mid)
	margin-top 10px
.owl-dot
	round()
	margin 5px
	width 10px
	height 10px
	background white
.owl-dot.active
	background #322f40
.tr
	triangle('up',20px,red)
	
	

/* -------------- style for header --------------*/
@import "include/_header.styl"

/* -------------- style for footer --------------*/
@import "include/_footer.styl"

/* -------------- style for b-paralax --------------*/
@import "include/_b-paralax.styl"

/* -------------- style for b-paralax --------------*/
@import "include/_p-promotion.styl"

/* -------------- style for b-paralax --------------*/
@import "include/_b-fluid.styl"

/* -------------- style for b-work --------------*/
@import "include/_b-work.styl"

/* -------------- style for b-form --------------*/
@import "include/_b-form.styl"

/* -------------- style for primer-work --------------*/
@import "include/_b-primer-work.styl"

/* -------------- style for kind-aplication --------------*/
@import "include/_b-kind-aplication.styl"

/* -------------- style for specialist --------------*/
@import "include/_b-specialist.styl"

/* -------------- style for other service --------------*/
@import "include/_b-other-service.styl"

/* -------------- style for map  --------------*/
@import "include/_b-map.styl"

/* -------------- style for partners  --------------*/
@import "include/_b-partners.styl"

/* -------------- style for kind-site  --------------*/
@import "include/_b-kind-site.styl"

/* -------------- style for repair  --------------*/
@import "include/_b-repair.styl"

/* -------------- style for order  --------------*/
@import "include/_b-order.styl"

/* -------------- style for article case  --------------*/
@import "include/_b-articale-case.styl"

/* -------------- style for mark   --------------*/
@import "include/_b-mark.styl"

/* -------------- style for pagination   --------------*/
@import "include/_b-pagination.styl"

/* -------------- style for form__light   --------------*/
@import "include/_b-form__light.styl"

/* -------------- style for galary   --------------*/
@import "include/_b-galary.styl"

/* -------------- style for contacts   --------------*/
@import "include/_b-contacts.styl"

/* -------------- style for vacancy   --------------*/
@import "include/_b-vacancy.styl"

/* -------------- style for comment   --------------*/
@import "include/_b-comment.styl"

/* -------------- style for elements --------------*/
@import "variable/_ie.styl"
