//Include style
include block_html/_style.jade
body
	include block_html/elements/_const.jade
	include block_html/elements/_header.jade
	
	.main-cont
		a(href="#").title.title__arrow вернуться к списку статей
	.main-cont
		.section.section--light
			.title Интернет-магазин гаек и шурупов
			include block_html/elements/_b-articale-case.jade
			include block_html/elements/_b-form__light.jade
			include block_html/elements/_b-comment.jade
			
	include block_html/elements/_footer.jade
	
//Include footer
include ./block_html/_script.jade

