//Include style
include block_html/_style.jade
body
	.space#scene
		.planet(data-depth="0.20").layer 
		.planet(data-depth="0.60").layer 
		.planet(data-depth="0.30").layer 
//Include footer
include ./block_html/_script.jade
