
a:hover
	text-decoration none
a
	text-decoration none
	color black
.bold
	font-weight 600
html 
	box-sizing border-box
*,
*:before,
*:after 
	box-sizing: inherit
img,
video,
iframe 
	max-width 100%
	height auto
	border 0
	-ms-interpolation-mode bicubic
	display block
input
	outline: 0 !important
textarea 
	resize: none
	
.type
	font-size 14px
	line-height 17px
.type-small
	font-size 10px
	font-weight 400
	line-height 12px
.hidden
	display none  !important

.clearfix 
	zoom 1
.clearfix:before,
.clearfix:after 
	content ""
	display table
.clearfix:after 
	clear both
.all-page
	fw()
	display flex
	align-items inherit
	justify-content space-around
.all-page__el
	+below(768px)
		width 100%
	br(4px)
	padding 3px
	background white
	margin 10px
	width 31%
	tr(all)
	&:hover
		transform scale(1.2)
.all-page__title
	up()
	text-align center
	color black
	padding 20px 0px
	font-size 14px
