.but
	cp()
	up()
	flex(mid)
	tr(all)
	display inline-block
	color white
	margin-bottom 20px
	white-space nowrap
	border-radius 5px
	min-width 160px
	text-align center
.but-mid
	padding 15px 25px
	font-size 16px
.but-sm
	padding 5px 25px
	font-size 16px
.but-lg
	font-size 24px
	font-weight 700
	padding 10px 45px
	
.but-purp
	background purp
	&:hover
		background darken(purp,40)
.but-pink
	background pink
	&:hover
		background darken(pink,10)
.but-white
	background white
	color black
.title
	+below(768px)
		font-size 20px
		text-align center
	font-size 30px
	font-size 30px
	margin-bottom 24px
	font-weight 700 
.title--lg
	+below(768px)
		text-align center
		font-size 28px
	up()
	font-size 40px
	font-weight 700
	margin-bottom 20px
	color white
.title--sm
	+below(768px)
		font-size 16px
		text-align center
	font-size 18px
	margin-bottom 15px
	color white
.title__arrow
	+below(768px)
		font-size 16px
		margin-left 0
		width 100%
		&:before
			content ''
			display none 
	up()
	font-size 18px
	padding 10px 20px
	background purp
	display inline-block
	position relative
	margin-left 20px
	&:before
		content ''
		position absolute
		left -20px
		top 0;
		width 0;
		height 0;
		border-top 21.5px solid transparent
		border-right 20px solid #716bb0
		border-bottom 21.5px solid transparent
.section
	+below(768px)
		padding 20px
	padding 30px 40px
	background purp 
	margin-bottom 20px
	//background-size cover
	color white
.section--dark
	background-color purp-dark
.section--bg-bottom
	background-image url(../img/bg-left.png)
	background-size initial
	background-repeat no-repeat
	background-position left bottom
.section--bg-top
	background-image url(../img/bg-top.png)
	background-size 250px
	background-repeat no-repeat
	background-position right top
.section-main-page
	+below(768px)
		margin-bottom 30px
	margin-bottom 70px
.section--grey
	background #e1e1e1 
.section--blue
	background grey 
.section--light
	color black
	background #ebebeb
	br(4px)
	.title
		color black
	.title--sm
		color black
	p
		color black
		margin-bottom 20px
input,textarea
	padding 8px 15px
	br(4px)
	border 0px
	color black
.article-img__right
	float right
	margin 0 0 20px 20px
.article-img__left
	float left
	margin 0 20px 20px 0px
.artilce-img
	width calc(50% - 10px)
.clearfix__mobile
	+below(768px)
		display block
	display none 
.mark-list
	list-style none
	position relative
	&:before
		content ''
		position absolute
		width 5px
		height 5px
		round()
		background pink-dark
		left -15px
		top 5px	

.ancor
	background dark
	+below(768px)
		display none
.ancor__wrap
	flex(around)
.ancor__el
	width 130px
	color white
	flex(mid)
	fl()
	padding 5px
	border-top 3px solid #e14faa
	border-bottom 3px solid #e14faa
	cp()
	&:nth-child(2)
		border-color #b2acf1
	&:nth-child(3)
		border-color pink
	&:nth-child(4)
		border-color #6c67a8
	span
		display block

.descr-block
	+below(768px)
		fw()
		fl()
		margin-top 30px
	flex(mid)
.descr-block__name
	+below(768px)
		margin-right  0px
	color white
	font-family PT Sans
	font-size 40px
	font-weight 700
	text-transform uppercase
	margin-right 90px	
.descr-block__text
	+below(768px)
		width 90%
		padding 20px 10px
		text-align center
	color white
	font-family PT Sans
	font-size 14px
	font-weight 400
	width 60%
	padding-top 60px	
	padding-bottom 30px		