.but
	cp()
	up()
	flex(mid)
	tr(all)
	display inline-block
	color white
	margin-bottom 20px
	white-space nowrap
	border-radius 5px
	min-width 160px
	text-align center
.but-mid
	padding 15px 25px
	font-size 16px
.but-lg
	font-size 24px
	font-weight 700
	padding 10px 45px
	
.but-purp
	background purp
	&:hover
		background darken(purp,40)
.but-pink
	background pink
	&:hover
		background darken(pink,10)
.title
	+below(768px)
		font-size 20px
		text-align center
	font-size 30px
	margin-bottom 24px
.title--lg
	+below(768px)
		text-align center
		font-size 28px
	up()
	font-size 40px
	font-weight 700
	margin-bottom 20px
.section
	+below(768px)
		padding 20px
	padding 30px 40px
	background purp 
	margin-bottom 20px
	background-size cover
.section--dark
	background purp-dark
input
	padding 8px 15px
	br(4px)
	border 0px

	
	