@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
	a
		display inline-block 
	.other-service__text
		width 100%
	.repair-discr__el
		width 100%
	.repair-discr__img
		width 30%
	.repair-discr__info
		width 70%
	.galary-title
		width 100%
	.galary-text
		width 100%
	.fluid__number 
		width 150px
	.fluid__info
		width calc(100% - 150px)
	.work-template__el
		width 100%
	.comment__block
		width 100%
	.comment__avatar
		display none
	.comment__el .tr
		display none
	.work__img
		margin 10px
	.repair-discr
		width 60%
	.repair-row
		width 20%
	.repair-people
		width 10%
	.planet-el
		backface-visibility inherit!important
	.section-main
		overflow auto
	.planet-title-waper
		width 100%
	.reset-position
		position relative!important
		top 0px!important
		left 0px!important
		