.article
	img(src="img/article.jpg", alt="").artilce-img.article-img__right
	.clearfix.clearfix__mobile
	.article__link
		.article__url http://gaiki/ru
		.article__date 28 Декабря 2017 г.
	.title.title--sm Описание заказчика
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum architecto autem nisi iste facere harum in libero odit perferendis laboriosam at veniam ratione, nesciunt itaque officiis asperiores, illum! Maiores numquam saepe eveniet animi dolores tenetur recusandae. Optio minima, dolore nostrum, vero numquam, magni accusantium natus itaque quasi reiciendis amet quisquam asperiores deleniti voluptatem nobis maiores. At id natus impedit cum! Reprehenderit impedit, enim. Quod, officia, delectus ut odio iusto dicta nobis consectetur aspernatur accusamus eum, voluptatum! In dolor officia provident incidunt voluptatem voluptas laborum, facere maiores illo a neque necessitatibus. Magnam, nesciunt, est! Deleniti est voluptatem ullam explicabo, eveniet cupiditate libero ducimus aspernatur consectetur. Architecto nesciunt ipsa porro quisquam nisi sequi, enim illum illo earum possimus id consequuntur nulla ex ea assumenda ab. Fugit accusamus, vero? Repellat dolorum sapiente earum nobis, voluptatum cum. Vitae ipsum accusantium officiis nemo aperiam eos placeat perferendis eaque laudantium. Dolorum laudantium animi exercitationem totam saepe eveniet consequuntur reiciendis necessitatibus quas sed. Quia esse veniam, aspernatur quos in unde, voluptatibus vero. Deserunt deleniti debitis soluta repellat est 
	
	img(src="img/article.jpg", alt="").artilce-img.article-img__left
	.title.title--sm Описание заказчика
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum architecto autem nisi iste facere harum in libero odit perferendis laboriosam at veniam ratione, nesciunt itaque officiis asperiores, illum! Maiores numquam saepe eveniet animi dolores tenetur recusandae. Optio minima, dolore nostrum, vero numquam, magni accusantium natus itaque quasi reiciendis amet quisquam asperiores deleniti voluptatem nobis maiores. At id natus impedit cum! Reprehenderit impedit, enim. Quod, officia, delectus ut odio iusto dicta nobis consectetur aspernatur accusamus eum, voluptatum! In dolor officia provident incidunt voluptatem voluptas laborum, facere maiores illo a neque necessitatibus. Magnam, nesciunt, est! Deleniti est voluptatem ullam explicabo, eveniet cupiditate libero ducimus aspernatur consectetur. Architecto nesciunt ipsa porro quisquam nisi sequi, enim illum illo earum possimus id consequuntur nulla ex ea assumenda ab. Fugit accusamus, vero? Repellat dolorum sapiente earum nobis, voluptatum cum. Vitae ipsum accusantium officiis nemo aperiam eos placeat perferendis eaque laudantium. Dolorum laudantium animi exercitationem totam saepe eveniet consequuntur reiciendis necessitatibus quas sed. Quia esse veniam, aspernatur quos in unde, voluptatibus vero. Deserunt deleniti debitis soluta repellat est 
	
	//mark
	include _b-mark.jade
	
	//mark
	include _b-mark.jade


	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam corporis cum, nobis molestiae voluptatum dolor, ex odit, earum ipsa facilis perferendis quidem, quia reprehenderit similique est at omnis? Laborum error architecto nemo sint, maxime, provident omnis. Facere deserunt reprehenderit cum dolorem iste expedita repellat, officiis modi culpa ratione placeat ad exercitationem magni fuga quae similique, omnis ab enim incidunt deleniti laborum nobis itaque reiciendis possimus porro? Quo ex harum dolorum dolore porro! Qui non quas rem, similique est aliquid illo harum modi unde explicabo quasi sequi nostrum enim repellendus commodi possimus tenetur odio, quis nesciunt, deleniti velit! Facere blanditiis tenetur impedit vitae fugiat, unde error dolorum quia. Expedita, sed iure repellat quas, minus, suscipit exercitationem nisi culpa similique at natus ipsam veritatis error. Inventore dignissimos commodi odit voluptatem cumque ut vel aspernatur, reiciendis magnam fugit, repudiandae modi perspiciatis aliquid aut consequatur suscipit quisquam, cupiditate quasi porro cum. Nihil, voluptatibus, cum!

	.title.title--sm Описание заказчика

	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam corporis cum, nobis molestiae voluptatum dolor, ex odit, earum ipsa facilis perferendis quidem, quia reprehenderit similique est at omnis? Laborum error architecto nemo sint, maxime, provident omnis. Facere deserunt reprehenderit cum dolorem iste expedita repellat, officiis modi culpa ratione placeat ad exercitationem magni fuga quae similique, omnis ab enim incidunt deleniti laborum nobis itaque reiciendis possimus porro? Quo ex harum dolorum dolore porro! Qui non quas rem, similique est aliquid illo harum modi unde explic

	//mark
	include _b-pagination.jade
