//Contacts
.main-cont
	.section
		.title Мы готовы к трудным проектам
		.contact
			.contact__map 
				|<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=aMY_rFO9LgxNIzKsco24lXWa4VlsBTQQ&lang=ru_RU&sourceType=constructor&scroll=true"></script>
			.contact__info
				img(src="img/logo-big.png", alt="").contact__logo
				.contact__el
					.contact__icon
						.icon-location
					.contact__text г. Пермь ул. Мира 71А, офис 22
				.contact__el
					.contact__icon
						.icon-calendar
					.contact__text Будни с 10:00 до 19:00
				.contact__el
					.contact__icon
						.icon-call
					.contact__text +7(919)-705-90-00
				.contact__el
					.contact__icon
						.icon-message
					.contact__text info@solar-studio.net
