//Form
.main-cont
	.section.section--dark
		.title Давайте пообщаемся
		form(action="#").form
			.form-el
				.form-el__title Как лучше к Вам обращаться?
				.form-el__input
					input(type="text" placeholder="Введите ваше имя")
			.form-el
				.form-el__title Введите Ваш телефон
				.form-el__input
					input(type="phone" placeholder="Введите ваш телефон")
			.form-el.form-el--but
				a(href="#").but.but-mid.but-pink Заказать проект