mixin galary(obj)
	.main-cont
		.galary
			.galary-head
				.galary-head__toggle
					.icon-angle-right
				.galary-head__wraper
					- each item in obj
						div(data-filter=".#{item.type}").filter.galary-head__el #{item.title}
			.galary-wraper
				- for (var a = 0; a < 4 ; a++)
					- each item in obj
						div(class="galary-el #{item.type} mix" style="background:url('img/portfolio.jpg')" data-myorder="#{item.numb}")
							.galary-info
								.galary-title Интернет магазин гаек и шурупов
								.galary-text Lorem ipsum dolor sit amet consectetur adipiscing elit Aenean uismod bibendum
								a(href="#").galary-link Открыть в новом окне

