.mark
	.title.title--sm Инструменты
	.mark__wrap
		a(href="#").mark__el HTML5
		a(href="#").mark__el CSS3
		a(href="#").mark__el SASS
		a(href="#").mark__el Adobe Photoshop
		a(href="#").mark__el Adobe Illustrator
		a(href="#").mark__el Sketch