//map
.main-cont
	.section.section--dark.section--bg-bottom
		.title Наши партнеры
		.partners.owl-carousel
			- for (var a = 0; a < 10 ; a++)
				.partners-el
					img(src="img/partners.png", alt="")


