//work templates
.main-cont
	.section.section--bg-top
		.title Примеры наших работ
		.work-template.owl-carousel
			- for (var a = 0; a < 9; a++)
				a(href="#").work-template__el
					.work-template__img
						img(src="img/template-work.jpg", alt="")
					.work-template__text Интернет-магазин гаек и шурупов
