//pagination
.pagination
	.pagination__arrow
		a(href="#").pagination__el
			.icon-angle-left
			span Предыдущая
		a(href="#").pagination__el 
			span  Следующая
			.icon-angle-right
	.pagination-like
		.pagination-like__text Мне нравится 34
		.icon-star
		