//Repair
.main-cont
	.section.section--red
		.title Восстановить работу сайта легко:
		.repair
			.repair-discr
				.repair-discr__el
					.repair-discr__img
						img(src="img/search-attantion.png", alt="")
					.repair-discr__info
						.repair-discr__title "Какого лешего ничего не работает....?"
						.repair-discr__text "Ничего не работает на сайте?" "Как это, клиенты уходят, не завершив покупку?"  "Почему сайт перестал приносить доход?" Мы часто сталкиваемся с такими вопросами, и умеем опаративно находить на них ответы!  
				.repair-discr__el
					.repair-discr__img
						img(src="img/protection.png", alt="")
					.repair-discr__info
						.repair-discr__title Помощь со скоростью света = 300 000 км/c
						.repair-discr__text Срочно  определим поломку. Исходя из первоочередных задач, разработаем систему решения. В срочном порядке приступим к устранению проблемы. Возможные схемы решения Х2 и Х3 программиста
			.repair-row
				img(src="img/tree-row.png", alt="")
			.repair-people
				.repair-people_el
					.repair-people_img
						.icon-programmer-1
					.repair-people_title Один программист

				.repair-people_numb
					.repair-people_incr x
					.repair-people_val 2

				.repair-people_el
					.repair-people_img
						.icon-programmer-2
					.repair-people_title Два программиста

				.repair-people_numb
					.repair-people_incr x
					.repair-people_val 3

				.repair-people_el
					.repair-people_img
						.icon-programmer-3
					.repair-people_title Три программиста
