//Contacts
.main-cont
	.section
		.title Нужны  профессионалы своего дела, которые уверены,  что занимаются любимой работой
		.vacancy
			.vacancy__about
				.title--sm Программист
				p Поддержка, развитие и творческая переработка веб-сайтов компании на  платформе 1С-Битрикс (bitrix):
				ul
					li.mark-list Сопровождение, доработка и поддержка существующего проекта на платформе 1С-Битрикс;
					li.mark-list Разработка новых проектов компании;
					li.mark-list Модификация стандартного функционала (транзакции, поиск);
					li.mark-list Разработка и переработка нестандартных модулей и компонентов для 1С-Битрикс, их тестирование;
					li.mark-list Интеграция сайтов с внешними системами (платежные системы, логистика);
					li.mark-list Взаимодействие в базами данных;
					li.mark-list Кроссбраузерная верстка
				.title--sm Требования:
				ul
					li.mark-list Знание PHP, MySQL, HTML, CSS, JavaScript (jQuery), AJAX
					li.mark-list Уверенное знание Bitrix, сильных и слабых сторон платформы, опыт разработки модулей,работа преимущество через апи битрикса, в невозможных случаях – кодить
					li.mark-list Хорошие навыки верстки (HTML+ CSS), в т.ч. кроссбраузерной
					li.mark-list Умение писать объектно-ориентированный, структурированный и легко читаемый код
					li.mark-list Умение работать с чужим кодом
					li.mark-list Опыт разработки интернет-магазинов
					li.mark-list Личные качества: внимательность‚ ответственность‚ аккуратность, коммуникабельность
					li.mark-list Умение соблюсти срок или вовремя сигнализировать о проблемах
			.vacancy__info
				img(src="img/logo-big.png", alt="").vacancy__logo
				.vacancy__el
					.vacancy__icon
						.icon-location
					.vacancy__text г. Пермь ул. Мира 71А, офис 22
				.vacancy__el
					.vacancy__icon
						.icon-calendar
					.vacancy__text Будни с 10:00 до 19:00
				.vacancy__el
					.vacancy__icon
						.icon-call
					.vacancy__text +7(919)-705-90-00
				.vacancy__el
					.vacancy__icon
						.icon-message
					.vacancy__text info@solar-studio.net
