//work
mixin work(el)
	.main-cont
		.section.section--dark.section--bg-bottom
			.title Как построенна работа над сайтом
			.work
				- each item in el
					.work__el
						.work__img
							div(class='#{item.img}')
						.work__info #{item.text}