-
	pages = [
	
		{
			'name':'',
			'href':'index.html'
		},
		{
			'name':'Контакты',
			'href':'contact.html'
		}
	
	];

	smm =[

		{
			'icon':'icon-vk',
			'title':'в контакте'
		},
		{
			'icon':'icon-facebook',
			'title':'facebook'
		},
		{
			'icon':'icon-twitter',
			'title':'twitter'
		},
		{
			'icon':'icon-instagram',
			'title':'instagram'
		},
		{
			'icon':'icon-odnoklassniki',
			'title':'одноклассники'
		}

	];

	seo =[

		{
			'img':'icon-seo-1.png',
			'title':'Оптимизация молодых сайтов',
			'text':'Настроим ваш сайт для успешного продвижения в поисковых системах'
		},
		{
			'img':'icon-seo-2.png',
			'title':'Аудит сайта',
			'text':'Изучим ваш сайт вдоль и поперек, дадим рекоминдации по продвижению'
		},
		{
			'img':'icon-seo-3.png',
			'title':'Продвижение сайтов',
			'text':'Поможем сайту привлечь максимальное количество клиентов из поисковых систем'
		},
		{
			'img':'icon-seo-4.png',
			'title':'Составление семантического ядра',
			'text':'Сопровождение проекта, постоянный сбор данных и настройки под пользователя'
		}
		

	];

	web =[

		{
			'img':'icon-web-1.png',
			'title':'Новый сайт',
			'text':'Проанализировав потребности ваших клиентов, подберем необходимое решение'
		},
		{
			'img':'icon-web-2.png',
			'title':'web приложение',
			'text':'Разработка Web - инструментов для вашего бизнеса'
		},
		{
			'img':'icon-web-3.png',
			'title':'срочная реанимация',
			'text':'Срочная помощь "старому-доброму" сайту, выявление и устранение неполадок'
		},
		{
			'img':'icon-web-4.png',
			'title':'техническая поддержка',
			'text':'Постоянное  сопровождение ресурса, поддержка работоспособности, исключение сбоев в работе'
		}
		

	]

	work =[

		{
			'img':'icon-like',
			'text':'Все работы направлены на удовлетворение Ваших клиентов'
		},
		{
			'img':'icon-doc',
			'text':'Мы работаем вместе с Вами, у Вас есть возможность контролировать каждый шаг'
		},
		{
			'img':'icon-clock',
			'text':'Четко поставленные задачи выполняемые точно в срок'
		},
		{
			'img':'icon-peoples',
			'text':'В любой ситуации мы с Вами найдем общее решение. Невозможного не существует!'
		}
		

	]

	promotion =[

		{
			'number':'1',
			'title':'Аудит сайта',
			'text':'Оцента текущего состояния, индексов ранжирования, скорости загрузки страниц, анализ ссылок и контента, конкурентной среды, позиций в поисковой выдаче'
		},
		{
			'number':'2',
			'title':'Рекомендации',
			'text':'Поэтапный план оптимизиции и объем необходимых работ, вы сами сможете выбрать средства продвижения из предложенных, и отследить результаты нашей работы.'
		},
		{
			'number':'3',
			'title':'Продвижение',
			'text':'Переход непосредственно к выполнению всех продуманных ранее и утвержденных шагов. Постепенное движение сайта на лидирующие позиции и приведение его в состояние полноценного инструмента для вашего бизнеса.'
		}

	]

	people =[

		{
			'img':'icon-specialist-1',
			'text':'Менеджер'
		},
		{
			'img':'icon-specialist-2',
			'text':'Аналитик'
		},
		{
			'img':'icon-specialist-3',
			'text':'Дизайнер'
		},
		{
			'img':'icon-specialist-4',
			'text':'Верстальщик'
		},
		{
			'img':'icon-specialist-5',
			'text':'Программист'
		}
		

	]



	
