-
	pages = [
	
		{
			'name':'главная',
			'href':'index'
		},
		{
			'name':'продвижение в интернет',
			'href':'promotion'
		},
		{
			'name':'Разработка Web-приложений',
			'href':'aplication'
		},
		{
			'name':'факты о нас',
			'href':'fakts'
		},
		{
			'name':'портфолио срочная реанимация (кейс)',
			'href':'articale-case'
		},
		{
			'name':'Создание нового сайта',
			'href':'syte'
		},
		{
			'name':'Срочная реанимация сайтов',
			'href':'reanimation'
		},
		{
			'name':'Поддержка сайтов',
			'href':'support'
		},
		{
			'name':'Портфолио',
			'href':'portfolio'
		},
		{
			'name':'бизнес в соц сетях',
			'href':'social'
		},
		{
			'name':'консалтинг аудит',
			'href':'consalting'
		},
		{
			'name':'Контакты',
			'href':'contacts'
		},
		{
			'name':'Вакансии',
			'href':'vacancy'
		},
		{
			'name':'Статьи',
			'href':'article'
		}
	
	
	];

	smm =[

		{
			'icon':'icon-vk',
			'title':'в контакте'
		},
		{
			'icon':'icon-facebook',
			'title':'facebook'
		},
		{
			'icon':'icon-twitter',
			'title':'twitter'
		},
		{
			'icon':'icon-instagram',
			'title':'instagram'
		},
		{
			'icon':'icon-odnoklassniki',
			'title':'одноклассники'
		}

	];

	seo =[

		{
			'img':'icon-seo-1.png',
			'title':'Оптимизация молодых сайтов',
			'text':'Настроим ваш сайт для успешного продвижения в поисковых системах'
		},
		{
			'img':'icon-seo-2.png',
			'title':'Аудит сайта',
			'text':'Изучим ваш сайт вдоль и поперек, дадим рекоминдации по продвижению'
		},
		{
			'img':'icon-seo-3.png',
			'title':'Продвижение сайтов',
			'text':'Поможем сайту привлечь максимальное количество клиентов из поисковых систем'
		},
		{
			'img':'icon-seo-4.png',
			'title':'Составление семантического ядра',
			'text':'Сопровождение проекта, постоянный сбор данных и настройки под пользователя'
		}
		

	];

	soc =[

		{
			'img':'soc-twitter.png',
			'title':'Оптимизация молодых сайтов',
			'text':'<p>Международная сеть, мало распространена в России, расчитан на частый обмен короткими сообщениями.</p><p>Особенности:</p><ul><li class="mark-list"> Ядро аудитории: от 30 лет</li><li class="mark-list"> Средний чек около 2000-3000 рублей</li><li class="mark-list"> Наилучший эффект от нескольких раскрученных живых аккаунтов</li><li class="mark-list"> Аудитория за месяц от 7,4 миллиоова пользователей</li></ul>'
		},
		{
			'img':'soc-twitter.png',
			'title':'Другой слайд',
			'text':'<p>Международная сеть, мало распространена в России, расчитан на частый обмен короткими сообщениями.</p><p>Особенности:</p><ul><li class="mark-list"> Ядро аудитории: от 30 лет</li><li class="mark-list"> Средний чек около 2000-3000 рублей</li><li class="mark-list"> Наилучший эффект от нескольких раскрученных живых аккаунтов</li><li class="mark-list"> Аудитория за месяц от 7,4 миллиоова пользователей</li></ul>'
		}

	]

	consalting =[

		{
			'img':'question.png',
			'title':'Как проводится консалтинг',
			'text':'<ul><li class="mark-list">Поможем определиться с формулировкой задачи</li><li class="mark-list">Расскажем о технологиях  и среде разработки, отвечающих требованиям вашей задачи</li><li class="mark-list">Расскажем о языках программирования и средствах разработки</li><li class="mark-list">Выделим правильное направление в продвижении</li><li class="mark-list">Соберем информацию о вашей целевой аудитории</li><li class="mark-list">Продумаем сценарии и логику ваших клиентов</li><li class="mark-list">Проведем тестирование существующего продукта с целью выявления "слабых" мест</li><li class="mark-list">Предложим способы для решения вявленных проблем</li></ul>'
		}

	]

	web =[

		{
			'img':'icon-web-1.png',
			'title':'Новый сайт',
			'text':'Проанализировав потребности ваших клиентов, подберем необходимое решение'
		},
		{
			'img':'icon-web-2.png',
			'title':'web приложение',
			'text':'Разработка Web - инструментов для вашего бизнеса'
		},
		{
			'img':'icon-web-3.png',
			'title':'срочная реанимация',
			'text':'Срочная помощь "старому-доброму" сайту, выявление и устранение неполадок'
		},
		{
			'img':'icon-web-4.png',
			'title':'техническая поддержка',
			'text':'Постоянное  сопровождение ресурса, поддержка работоспособности, исключение сбоев в работе'
		}
		

	]

	work =[

		{
			'img':'icon-like',
			'text':'Все работы направлены на удовлетворение Ваших клиентов'
		},
		{
			'img':'icon-doc',
			'text':'Мы работаем вместе с Вами, у Вас есть возможность контролировать каждый шаг'
		},
		{
			'img':'icon-clock',
			'text':'Четко поставленные задачи выполняемые точно в срок'
		},
		{
			'img':'icon-peoples',
			'text':'В любой ситуации мы с Вами найдем общее решение. Невозможного не существует!'
		}
		

	]

	workReanimation =[

		{
			'img':'icon-clock',
			'text':'Работа в срок, без ущерба для качества'
		},
		{
			'img':'icon-attantion',
			'text':'Срочно берем в работу "горящщие" проекты'
		}

	]

	promotion =[

		{
			'number':'1',
			'title':'Аудит сайта',
			'text':'Оцента текущего состояния, индексов ранжирования, скорости загрузки страниц, анализ ссылок и контента, конкурентной среды, позиций в поисковой выдаче'
		},
		{
			'number':'2',
			'title':'Рекомендации',
			'text':'Поэтапный план оптимизиции и объем необходимых работ, вы сами сможете выбрать средства продвижения из предложенных, и отследить результаты нашей работы.'
		},
		{
			'number':'3',
			'title':'Продвижение',
			'text':'Переход непосредственно к выполнению всех продуманных ранее и утвержденных шагов. Постепенное движение сайта на лидирующие позиции и приведение его в состояние полноценного инструмента для вашего бизнеса.'
		}

	]

	social =[

		{
			'number':'1',
			'title':'Сбор данных о целевой аудитории',
			'text':'Сбор данных о дополнительных интересах ваших клиентов поможет нам разработать стратегию продвижения в социальных медиа, где пользователь расслаблен и легче принимает решение'
		},
		{
			'number':'2',
			'title':'Разработка стилистики',
			'text':'Мысль о том ,что логотипа для группы достаточно - обманчива. Важно все, Ваш стиль важен не только для сайтов, но и для групп пользователей в соц.сетях, У новых клинтов  мнение о вамеш бизнесе закладывается уже здесь, на этом этапе'
		},
		{
			'number':'3',
			'title':'Выполнение работ',
			'text':'Далее мы релизуем задуманную стратегию с промежуточным тестированием результатов и вносим все необходимые корректироваки курса, для привлечения в группу заинтересованных и активных потенциальных клиентов'
		}

	]

	people =[

		{
			'img':'icon-specialist-1',
			'text':'Менеджер'
		},
		{
			'img':'icon-specialist-2',
			'text':'Аналитик'
		},
		{
			'img':'icon-specialist-3',
			'text':'Дизайнер'
		},
		{
			'img':'icon-specialist-4',
			'text':'Верстальщик'
		},
		{
			'img':'icon-specialist-5',
			'text':'Программист'
		}
		

	]

	peopleApp =[

		{
			'img':'icon-specialist-1',
			'text':'Менеджер'
		},
		{
			'img':'icon-specialist-2',
			'text':'Аналитик'
		},
		{
			'img':'icon-specialist-3',
			'text':'Дизайнер'
		},
		{
			'img':'icon-specialist-5',
			'text':'Программист'
		}
		

	]

	peopleSoc =[

		{
			'img':'icon-specialist-1',
			'text':'Менеджер'
		},
		{
			'img':'icon-specialist-2',
			'text':'Аналитик'
		},
		{
			'img':'icon-specialist-3',
			'text':'Дизайнер'
		}
		

	]

	kindApp =[

		{
			'title':'Гибкие',
			'text':'Интерфейсы пользователей интуитивно понятны и позволяют полную настройку под сотрудника, контроль прав и доступов для работы.'
		},
		{
			'title':'Комплексные',
			'text':'Для решения поставленных задач мы можем использовать наиболее близкие к требованиям типовые решения: CRM, документооборот и многое другое'
		},
		{
			'title':'Надежные ',
			'text':'Наши решения способны работать в бесперебойном режиме, без авральных состояний на протяжении многих лет.'
		},
		{
			'title':'Масштабируемые',
			'text':'Оптимизация решений для необходимого колическва пользователей, позволяет использование как двумя сотрудниками, так и крупной компанией'
		}
		

	]

	fluidApp =[

		{
			'number':'1',
			'title':'Уточнение требований',
			'text':'Уточнение требований к Web системе заключает в себе сбор данных о Вашем бизнесе, анализ технологических особенностей вашей задачи и обработку информации, для более точного  выбора средств разработки'
		},
		{
			'number':'2',
			'title':'Воссоздание логики сайта',
			'text':'Проработка логических схем и прототипа решения (при необходимости), согласование технического задания, бюджета и сроков разработки'
		},
		{
			'number':'3',
			'title':'Подписание документов',
			'text':'Заключение договора, в котором прописаны все согласованные в техническом задании работы, бюджет и сроки реализации проекта. Приступаем к разработке после предоплаты'
		},
		{
			'number':'4',
			'title':'Разработка',
			'text':'Реализация решения, в соответсвии с техническим заданием и выбранными средствами разработки с соблюдением выбранных средств и среды разработки,  с поэтапной демонстрацией готовых разделов Заказчику (при необходимости)'
		},
		{
			'number':'5',
			'title':'Тестирование',
			'text':'Пилотный проект: прогон на тестовых данных.Внесение необходимых корректировок в рамках подписанного технического задания и договора'
		},
		{
			'number':'6',
			'title':'Внедрение',
			'text':'Сдача разработанного решения для тестирования Заказчиком, внедрение и обучение для всех сотрудников  компании и внешних пользователей'
		},
		{
			'number':'7',
			'title':'Техническая поддержка',
			'text':'Техническая поддержка разработанного Web приложения, для обеспечения бесперебойного доступа всех пользователей'
		}

	]

	fluidSupport =[

		{
			'number':'1',
			'title':'Технический аудит сайта',
			'text':'На этом этапе выявляются технические недостатки сайта. Устраняются неисправности и недочеты технической базы'
		},
		{
			'number':'2',
			'title':'Модернизация',
			'text':'С учетом сегоднящних задач для сайта, ваш ресурс дорабатывается и корректируется. Добавляются актуальные модули или проводится редизайн.'
		},
		{
			'number':'3',
			'title':'Взаимодействие с хостингом',
			'text':'Взаимодействие с компанией, на хостинге которого размещен сайт. При желании владельца, перенос сайта на другой хостинг. Восстановление сайта из резервной копии'
		}
	]


	otherService =[
		{
			'img':'icon-web-1.png',
			'title':'Новый сайт',
			'text':'Проанализировав потребности ваших клиентов, подберем необходимое решение'
		},
		{
			'img':'icon-web-3.png',
			'title':'срочная реанимация',
			'text':'Срочная помощь "старому-доброму" сайту, выявление и устранение неполадок'
		},
		{
			'img':'icon-web-4.png',
			'title':'техническая поддержка',
			'text':'Постоянное  сопровождение ресурса, поддержка работоспособности, исключение сбоев в работе'
		}
	]

	
	kindSite =[
			{
				'img':'kind-site-1.png',
				'title':'Web-сайт (визитка) ',
				'text':'Небольшой сайт, для размещения осной информации о вашей организации'
			},
			{
				'img':'kind-site-2.png',
				'title':'Интернет магазин ',
				'text':'Позволяет вашему клиенту заказать и оплатить  ваши товары в режиме Online, через браузер'
			},
			{
				'img':'kind-site-3.png',
				'title':'Web-портал ',
				'text':'Максимальное колличество информации с привлечением наибольшего числа пользователей'
			},
			{
				'img':'kind-site-4.png',
				'title':'Landing page ',
				'text':'Одна продающая страница, обычно для продажи одного вида услуг или товара'
			}
		]

		

		siteDevelop =[

		{
			'number':'1',
			'title':'Сбор  данных',
			'text':'Уточнение требований к Web системе заключает в себе сбор данных о Вашем бизнесе, анализ технологических особенностей вашей задачи и обработку информации, для более точного  выбора средств разработки'
		},
		{
			'number':'2',
			'title':'Воссоздание логики сайта',
			'text':'Проработка логических схем и прототипа решения (при необходимости), согласование технического задания, бюджета и сроков разработки'
		},
		{
			'number':'3',
			'title':'Проектирование',
			'text':'Заключение договора, в котором прописаны все согласованные в техническом задании работы, бюджет и сроки реализации проекта. Приступаем к разработке после предоплаты'
		},
		{
			'number':'4',
			'title':'Дизайн',
			'text':'Разработка стилистики, цветового решения сайта, проработка макетов каждой страницы в утвержденном ключе.'
		},
		{
			'number':'5',
			'title':'Верстка',
			'text':'Реализация дизайна в програмном коде, проработка динамических элементов, для правильного отображения во всех браузерах и на любом разрешении экрана'
		},
		{
			'number':'6',
			'title':'Программирование',
			'text':'Реализация проекта, в соответствии с логикой, дизайном и версткой, на основе выбранной системы управления контентов или  без нее, с поэтапной демонстрацией готовых разделов Заказчику (при необходимости).'
		},
		{
			'number':'7',
			'title':'Адаптация в Интернет',
			'text':'Настройка сайта для активного продвижения вверх в списках выдачи поисковиков. Определение ключевых фраз для продвижения или размещение на рекламных местах.'
		},
		{
			'number':'8',
			'title':'Поддержка',
			'text':'Долгосрочное сотрудничество, консультирование и помощь проекту. Техническая поддержка, предложения по развитию и внедрению новых технологий упрощающих  жизнь вам и вашим клиентам.'
		}

	]

	listPortfolio =[
			{
				'numb':'1',
				'title':'интернет магазин',
				'type':'service'
			},
			{
				'numb':'2',
				'title':'Корпоративный',
				'type':'corp'
			},
			{
				'numb':'3',
				'title':'Web-сервис',
				'type':'service'
			},
			{
				'numb':'4',
				'title':'VK',
				'type':'corp'
			},
			{
				'numb':'5',
				'title':'Facebook',
				'type':'service'
			},
			{
				'numb':'6',
				'title':'JavaScript',
				'type':'corp'
			},
			{
				'numb':'7',
				'title':'Сайт',
				'type':'service'
			},
			{
				'numb':'8',
				'title':'Не сайт',
				'type':'corp'
			},
			{
				'numb':'9',
				'title':'Разные',
				'type':'service'
			},
			{
				'numb':'10',
				'title':'Теги',
				'type':'service'
			},
			{
				'numb':'11',
				'title':'Языки',
				'type':'corp'
			},
			{
				'numb':'12',
				'title':'Стили',
				'type':'service'
			}
		]


		listArticle =[
			{
				'numb':'1',
				'title':'Новости отрасли',
				'type':'service'
			},
			{
				'numb':'2',
				'title':'Задачки от разработчиков',
				'type':'corp'
			},
			{
				'numb':'3',
				'title':'Немного юзабилити',
				'type':'service'
			},
			{
				'numb':'4',
				'title':'Зачем нужен сайт?',
				'type':'corp'
			}
		]
