-
	pages = [
	
		{
			'name':'',
			'href':'index.html'
		},
		{
			'name':'Контакты',
			'href':'contact.html'
		}
	
	];

	smm =[

		{
			'icon':'icon-vk',
			'title':'в контакте'
		},
		{
			'icon':'icon-facebook',
			'title':'facebook'
		},
		{
			'icon':'icon-twitter',
			'title':'twitter'
		},
		{
			'icon':'icon-instagram',
			'title':'instagram'
		},
		{
			'icon':'icon-odnoklassniki',
			'title':'одноклассники'
		}

	];

	seo =[

		{
			'img':'icon-seo-1.png',
			'title':'оптимизация молодых сайтов',
			'text':'Настроим ваш сайт для успешного продвижения в поисковых системах'
		},
		{
			'img':'icon-seo-2.png',
			'title':'аудит сайта',
			'text':'Изучим ваш сайт вдоль и поперек, дадим рекоминдации по продвижению'
		},
		{
			'img':'icon-seo-3.png',
			'title':'продвижение сайтов',
			'text':'Поможем сайту привлечь максимальное количество клиентов из поисковых систем'
		},
		{
			'img':'icon-seo-4.png',
			'title':'составление семантического ядра',
			'text':'Сопровождение проекта, постоянный сбор данных и настройки под пользователя'
		}
		

	];

	web =[

		{
			'img':'icon-web-1.png',
			'title':'Новый сайт',
			'text':'Проанализировав потребности ваших клиентов, подберем необходимое решение'
		},
		{
			'img':'icon-web-2.png',
			'title':'web приложение',
			'text':'Разработка Web - инструментов для вашего бизнеса'
		},
		{
			'img':'icon-web-3.png',
			'title':'срочная реанимация',
			'text':'Срочная помощь "старому-доброму" сайту, выявление и устранение неполадок'
		},
		{
			'img':'icon-web-4.png',
			'title':'техническая поддержка',
			'text':'Постоянное  сопровождение ресурса, поддержка работоспособности, исключение сбоев в работе'
		}
		

	]


	
