.main-cont
	.section
		.title Продивижение в Internet
		//promotion-slider
		.promotion-slider.owl-carousel
			- each item in seo 
				a(href="#").promotion-slider__el
					.promotion-slider__img
						img(src="img/#{item.img}", alt="")
					.promotion-slider__info
						.promotion-slider__title #{item.title}
						.promotion-slider__text #{item.text}
