.contact
	f()
	fw()
.contact__map
	+below(768px)
		width 100%
	width 65%
	min-height 400px
.contact__info
	+below(768px)
		width 100%
	br(4px)
	flex(mid)
	fl()
	width 35%
	padding 20px 10px
	background purp-dark
.contact__logo
	margin-bottom 20px
.contact__el
	margin-bottom 20px
	f()
.contact__icon
	margin-right 15px 
//.contact__text