.form
	flex(between)
	fw()
	align-items flex-end
.form-el
	+below(768px)
		width 100%
	width 30%
.form-el__title
	margin-bottom 5px
.form-el__input
	+below(768px)
		margin-bottom 20px
	input
		width 100%
.form-el--but
	.but
		width 100%
		margin-bottom 0
