.syte-type
	flex(between)
	align-items inherit
.syte-type__el
	+below(768px)
		width 100%
	f()
	fl()
	br(4px)
	width 23%
	border 2px solid purp-dark
	background purp-dark
.syte-type__img
	+below(768px)
		img
			width 160px!important
	padding 20px
	flex(mid)
	background purp
.syte-type__title
	text-align center
	font-size 22px
	margin-bottom 10px
.syte-type__text
	color white
	text-align center
	font-size 16px
.syte-type__info
	padding 10px
	