.aplication-type
	flex(between)
	align-items inherit
.aplication-type__el
	+below(768px)
		width 100%
	padding 10px
	background purp-dark
	width 24% 
.aplication-type__title
	font-size 20px
	margin-bottom 10px