.other-service
	flex(between)
	align-items flex-start
.other-service__el
	+below(768px)
		width 100%
		min-height 270px
	flex(mid)
	fl()
	tr(all)
	width 32%
	padding 30px 10px
	&:hover
		background purp
		.other-service__title
			color purp-dark
.other-service__title
	up()
	tr(all)
	font-size 20px
	margin 5px 0px
	text-align center
.other-service__text
	text-align center
	margin 0 auto
	