.rows-cont
	position relative
	height calc(100% - 300px)
.planet-el
	+below(1378px)
		margin 40px 5px
		width 60px
		height 60px
		font-size 14px
	+below(768px)
		position initial!important
	
	flex(mid)
	round()
	up()
	tr(all)
	display flex !important
	font-size 20px
	position absolute
	height 90px
	width 90px
	background purp
	font-weight 700
	color white
	&:hover
		background darken(purp,20)
		cursor pointer
.planet-audit
	+below(1378px)
		top 0px!important
		left 40px!important
	left 365px!important
	top 95px!important
.planet-smm
	+below(1378px)
		left 115px!important
		top 140px!important
	left 580px!important
	top 70px!important
.planet-seo
	+below(1378px)
		left 295px!important
		top 110px!important
	left 580px!important
	top 270px!important
.planet-web
	+below(1378px)
		left 415px!important
		top 190px!important
	left 790px!important
	top 240px!important
.section-main__title
	position relative
.planet-wraper
	+below(768px)
		flex(mid)
	width 100%
.planet-title-waper
	+below(1378px)
		width 30%
		max-width 370px
	+below(768px)
		width 100%
		text-align center
	width 60%
	position absolute!important
	left initial!important
	right 30px!important
	top -230px !important
	text-align right
	height 100%
.planet-title__el
	+below(1378px)
		font-size 40px
	+below(1024px)
		font-size 30px
	+below(768px)
		font-size 28px
	font-size 60px
	font-weight 400
	text-transform uppercase
	color white
.planet-title__el--small
	+below(1378px)
		font-size 16px
	+below(1024px)
		font-size 14px
	+below(768px)
		font-size 18px
	font-size 40px
	font-weight 100
	text-transform uppercase

.reset-position
	+below(768px)
		margin 10px
	position initial!important
	margin 40px 30px
.planet-wraper--mid
	display flex!important
	flex(mid)

.planet-content
	display none
.planet-content__el
	f()
.planet-content__smm-el 
	+below('md')
		width 100%
	+below(768px)
		height 200px
		margin-top 0px
	fl()
	flex(mid)
	tr(all)
	height 260px
	background grey
	padding 5%
	background-color #1f2e43
	width 100%
	&:hover
		background #243650 
		&:before
			content ''
			position absolute	
			width 100%	
			top 0
			left 0
			height 1px	
			background 	#b2acf1 
		&:after
			content ''
			position absolute	
			width 100%	
			bottom 0
			left 0
			height 1px	
			background 	#b2acf1 
		.planet-content__smm-info
			color #b2acf1
	.icon
		tr(all)
		font-size 60px
		margin-bottom 20px 
//.planet-content__smm-icon 
.planet-content__smm-info 
	font-size 20px
	font-weight 700
	text-transform uppercase

.planet-content__seo-el
	+below(1200px)
		height 310px
	+below('md')
		width 100%
	+below(768px)
		height 210px
		margin-top 20px
		padding 20px
		img
			width 60px!important
	fl()
	flex(mid)
	tr(all)
	height 350px
	justify-content flex-start
	//width 25%
	background grey
	padding 50px
	background-color #1f2e43
	position relative	
	&:hover
		background #243650 
		&:before
			content ''
			position absolute	
			width 100%
			left 0px	
			top 0
			height 1px	
			background 	#e14faa 
		&:after
			content ''
			position absolute	
			width 100%
			left 0px	
			bottom 0
			height 1px	
			background 	#e14faa 
		.planet-content__seo-title
			color #e14faa
	.icon
		tr(all)
		font-size 60px
		margin-bottom 20px 
.planet-content__seo-icon
	margin-bottom 20px
.planet-content__seo-title
	tr(all)
	up()
	font-size 16px
	text-align center
	height 50px 
.planet-content__seo-info
	text-align center
	width 100%
.slogan
	+below(960px)
		padding 120px 60px
	+below(768px)
		padding  120px 20px 10px 20px
	padding 120px
	flex(mid)
	bgi('moon-bg.png')
	background-position center
	position relative
	.but
		margin-top 20px
		display inline-block
		padding 10px 25px
		
.rocket
	+below(768px)
		display none
	position absolute
	bottom 10%
	right 17%
.slogan-text
	flex(mid)
	fl()
	fw()
.slogan-text__el 
	+below(768px)
		font-size 26px
		line-height 36px
	up()
	text-align center
	font-size 50px
	color white
	font-family Helvetica 
	line-height 70px
.slogan-text__el--small
	+below(768px)
		font-size 20px
	font-weight  100
	font-size 35px

.descr-block__link
	color #6c67a8
	font-family PT Sans
	font-size 16px
	font-style italic
	text-decoration underline
	display block
	text-align right
	margin-top 20px