.pagination
	+below(768px)
		fw()
		flex(mid)
		width 100%
	width 70%
	margin-bottom 20px
	flex(between)
.pagination__arrow
	+below(768px)
		width 100%
	flex(between)
	width 300px
.pagination-like__text
	color black
	font-weight 700 
	margin-right 10px
.pagination-like
	flex(mid)
	.icon-star
		height 25px
.pagination__el
	color black
	flex(mid)
	font-weight 700
	.icon-angle-left,.icon-angle-right
		font-size 30px
		line-height 20px