.people
	+below(768px)
		fw()
		flex(mid)
	flex(between)
.people__el
	+below(768px)
		width 40%
		margin 0 auto
	+below(640px)
		margin-right 0px
		width 100%
	flex(mid)
	br(4px)
	fl()
	border 2px solid purp-dark
	width 18%
.people__img
	padding 20px 0
	height 140px
	width 114px
	flex(mid)
.people__text
	font-size 20px
	background purp-dark 
	width 100%
	text-align center
	padding 10px