.vacancy
	f()
	fw()
.vacancy__about
	+below(768px)
		width 100%
		margin-right 0
		margin-bottom 10px
		ul
			padding-left 3px
	br(4px)
	width 63%
	min-height 400px
	margin-right 2%
	background purp-dark
	padding 20px
.vacancy__info
	+below(768px)
		width 100%
	br(4px)
	flex(mid)
	fl()
	width 35%
	padding 20px 10px
	background purp-dark
.vacancy__logo
	margin-bottom 20px
.vacancy__el
	margin-bottom 20px
	f()
.vacancy__icon
	margin-right 15px 
//.vacancy__text