.work
	flex(between)
	fw()
	align-items initial
.work__el
	+below(768px)
		flex(mid)
		height auto
		width 100%
	f()
	br(4px)
	width 48%
	padding 10px
	background pink-dark
	margin-bottom 10px
	align-items center
.work__img
	+below(768px)
		width 20%
		margin-bottom 10px
		margin-right 10px
		[class*="icon-"]
			transform scale(0.7)
			margin-right 10px
	margin-right 20px!important
	height 60px
.work__info
	+below(768px)
		width 70%
		font-size 14px
		margin-left 10px
	font-size 18px
	width 70%