.footer-wraper
	+below(768px)
		padding 0
	background dark
	margin-top auto
	position relative
	padding 15px
.footer
	f()
	align-items flex-start
.footer__el
	+below(768px)
		flex-flow row
		padding 0
	flex-grow 1
	padding 10px
	flex(mid)
	fl()
	width 16.5%
	& > a
		display block
		margin 0 auto
		width 120px
		text-align left
		margin-bottom 5px
.footer__logo
	margin-bottom 35px
.footer__title
	color #c2318b
	font-size 18px
	font-weight 400
	text-align center
	margin-bottom 20px
.footer__link
	position relative
	&:before
		content ''
		position absolute
		width 5px
		height 5px
		round()
		background purp
		top 50%
		margin-top -2.5px
		left -15px  
.footer__phone
	+below(768px)
		margin-bottom 0
		margin-right 10px
		font-size 10px
	f()
	align-items center
	margin-bottom 15px
	font-size 14px
	.icon
		margin-right 10px
		color purp
.footer__mail
	+below(768px)
		font-size 10px
		margin-bottom 0
		margin-right 5px
	f()
	align-items center
	margin-bottom 15px
	font-size 14px
	.icon
		color purp
		margin-right 10px
.footer__soc
	f()
	a
		+below(768px)
			width 25px
			height 25px
			margin-top 5px
			display block!important
			margin 5px 1px
		round() 
		width 40px
		height 40px
		background purp
		margin 5px 10px
		flex(mid)
	.icon
		+below(768px)
			font-size 12px
			margin-top 6px
		color dark
	
.footer-logo__content
	+below(1200px)
		display none

.footer__el
	+below(768px)
		display none
.footer__contact
	+below(768px)
		.icon
			font-size 12px
		width 100%
		display flex !important