.footer-wraper
	background dark
	margin-top auto
	position relative
	padding 15px
.footer
	f()
	align-items flex-start
.footer__el
	flex-grow 1
	padding 10px
	flex(mid)
	fl()
	width 16.5%
	& > a
		display block
		margin 0 auto
		width 120px
		text-align left
		margin-bottom 5px
.footer__logo
	margin-bottom 15px
.footer__title
	color #c2318b
	font-size 18px
	font-weight 400
	text-align center
	margin-bottom 20px
.footer__link
	position relative
	&:before
		content ''
		position absolute
		width 5px
		height 5px
		round()
		background purp
		top 50%
		margin-top -2.5px
		left -15px  
.footer__phone
	f()
	align-items center
	margin-bottom 15px
	font-size 14px
	.icon
		margin-right 10px
		color purp
.footer__mail
	f()
	align-items center
	margin-bottom 15px
	font-size 14px
	.icon
		color purp
		margin-right 10px
.footer__soc
	f()
	a
		flex(mid)
		round() 
		width 40px
		height 40px
		background purp
		margin 5px 10px
	.icon
		color dark
	
