.header 
	+below(768px)
		padding 5px 0px
	+below(480px)
		padding 0
	position relative
	.icon-bars
		color white
.header__top 
	+below(768px)
		padding-bottom 5px
	flex(between)

//.header-contact 
.header-contact
	+below(768px)
		fw()
		.icon
			font-size 12px
	flex(between) 
.header-contact__phone
	+below(768px)
		justify-content flex-end
		margin-bottom 5px
	+below(480px)
		margin-left 10px
		margin-bottom 0px
		font-size 11px
	up()
	f()
	align-items center
	font-size 14px
	margin-left 20px
	.icon
		+below(480px)
			display none
		margin-right 10px
.header-contact__email 
	+below(768px)
		width 100%
		justify-content flex-end
	f()
	up()
	align-items center
	.icon
		margin-right 10px
.header-slogan
	+below(768px)
		display none
	color #b2acf1
	font-size 31px
	font-weight 400
	up()
.top-menu
	position relative
	.main-cont
		z-index 100
.top-menu__wraper
	+below(768px)
		display block
		margin-left -10px
		background grey 
	flex(between)
	z-index 1000
.top-menu__el
	+below(768px)
		width 100%
		display block
	flex-grow 1
	flex(mid)
	& > a
		+below(768px)
			border-bottom  1px solid #162130 !important
			font-size 16px
			&:hover
				margin-bottom 0 !important
		up()
		padding 8px 0
		font-size 18px
		text-align center
		display block
		position relative
		&:hover
			border-bottom 1px solid white 
			margin-bottom -1px

	
.top-menu__sub
	+below(768px)
		position relative
		display none
		background dark
		margin-left 0
		width 100%
	position absolute
	right 0
	top 100%
	padding 10px
	background rgba(36,54,80,0.92)
	display none
	margin-left 10px
	width 250px
	a
		+above(768px)
			img
				display none
		+below(768px)
			f()
			img
				margin 0 10px
		display block
		padding 10px
		font-size 16px
		tr(all)
		&:hover
			color #b286f9
.top-menu__service
	+above(768px)
		&:hover
			.top-menu__sub
				display block!important
	z-index 1000
	position relative
	
.top-menu__bar
	+below(768px)
		display none!important
	cp()
	height 100%
	position relative
	font-size 24px
	line-height 12px
	text-align center
	padding 5px 0px
.top-menu-order
	
	+below(768px)
		display none!important
	z-index 1000
	position absolute
	right 0
	top 100%
	background rgba(36, 54, 80, 0.92);
	padding 10px
	width 720px
.top-menu-order
	display none 
	padding-top 20px
.top-menu-order__info 
	flex(between)
	align-items flex-start
	color white
.top-menu-order__el
	padding 5px
	&:nth-child(1)
		width 35%
		margin-right 20px
	&:nth-child(2)
		width 35%
		margin-right 20px
	&:nth-child(3)
		width 25%
.top-menu-order__name-adr 
	margin-right 55px!important
.top-menu-order__row 
	flex(between)
	align-items flex-start
	margin-bottom 25px
.top-menu-order__name
	 font-size 16px
	 margin-right 10px
.top-menu-order__val 
	 font-size 16px
	 bold()
.top-menu-order__but
	flex(mid)
	fl()
	margin 20px 0
	.but
		font-weight 300
		width 60%
.top-menu-order__smallbut
	fl()
	flex(mid)
	.but
		width 80%
		margin-bottom 50px
		
.top-menu-order__time
	//+below(1200px)
	//	display none
.top-menu-order__cont
	+below(1200px)
		width 100%
.section-main__title
	+below(768px)
		display none 
.top-menu__toggle
	+below(768px)
		flex(mid)
		font-size 24px
		padding 10px
		justify-content flex-end
	+below(768px)
		width 20%
	+below(480px)
		font-size 16px
	display none
.top-menu__cont
	+above(768px)
		display block!important
	+below(768px)
		display none
		width calc(100% + 10px)
		position absolute
		top 20px
		left -10px
		background grey 
.header-info
	+below(768px)
		width 50%
.header__top > a
	+below(768px)
		width 50%

.header
	background-color #30375e
.header__cont
	flex(between)
	height 40px
.header__logo
	+below(768px)
		width 100%
	+below(480px)
		width 80%
	flex(mid)
	justify-content flex-start
	width 40%
.header__nav
	+below(768px)
		width 100%
		position absolute
		left 0px
		top 18px
	width 60%
	z-index 1000
	