.header 
	padding 15px 0px
	position relative
.header__top 
	flex(between)
	padding-bottom 15px
//.header__logo 
//.header-contact 
.header-contact
	padding-bottom 10px
	flex(between) 
.header-contact__phone 
	up()
	f()
	align-items center
	font-size 14px
	.icon
		margin-right 10px
.header-contact__email 
	f()
	up()
	align-items center
	.icon
		margin-right 10px
.header-slogan
	color #b2acf1
	font-size 31px
	font-weight 400
	up()
.top-menu
	background dark
.top-menu__wraper
	flex(between)
.top-menu__el
	flex-grow 1
	flex(mid)
	& > a
		up()
		padding 12px 0
		font-size 18px
		text-align center
		display block
		position relative
	&:not(:last-child)
		&:hover
			background grey
	
.top-menu__sub
	position absolute
	left 0
	top 100%
	padding 10px
	background grey
	display none
	a
		display block
		padding 12px 30px
		font-size 16px
		tr(all)
		&:hover
			color #b286f9
.top-menu__service
	&:hover
		.top-menu__sub
			display block!important
.top-menu__bar
	cp()
	height 100%
	position relative
	font-size 24px
	line-height 12px
	text-align center
	padding 12px 0px
.top-menu-order
	position absolute
	right 0
	top 100%
	background grey
	padding 10px
	width 70%
.top-menu-order
	display none 
.top-menu-order__info 
	flex(between)
	align-items flex-start
.top-menu-order__el
	padding 10px 30px
	width 33.3333%
.top-menu-order__row 
	flex(between)
	align-items flex-start
	margin-bottom 15px
.top-menu-order__name
	 font-size 16px
	 margin-right 20px
.top-menu-order__val 
	 font-size 16px
	 bold()
	 text-align right
.top-menu-order__but
	flex(mid)
	fl()
	.but
		width 60%
.top-menu-order__smallbut
	fl()
	flex(mid)
	.but
		width 80%