//.promotion-slider
.promotion-slider__el
	+below(768px)
		fl()
		width 100%
		align-items center
	flex(mid)
	br(4px)
	margin 0 auto 
	align-items flex-start
	padding 30px 20px
	width 60%
	background purp-dark
.promotion-slider__img
	+below(768px)
		margin-bottom 10px
		margin-right 0
	margin-right 30px
.promotion-slider__info
	+below(768px)
		width 100%
		text-align center
	width 60%
.promotion-slider__title
	+below(768px)
		font-size 18px
	font-size 24px
	margin-bottom 10px
.people
	+below(768px)
		fw()
		flex(mid)
	flex(between)
.people__el
	+below(768px)
		width 40%
		margin 0 auto
	+below(640px)
		margin-right 0px
		width 100%
	flex(mid)
	br(4px)
	fl()
	border 2px solid purp-dark
	width 18%
.people__img
	padding 20px 0
	height 140px
	width 114px
	flex(mid)
.people__text
	font-size 20px
	background purp-dark 
	width 100%
	text-align center
	padding 10px