//.promotion-slider
.promotion-slider__el
	+below(768px)
		fl()
		width 100%
		align-items center
	flex(mid)
	br(4px)
	margin 0 auto 
	padding 30px 20px
	width 70%
	background purp-dark
	ul
		text-align left
.promotion-slider__img
	+below(768px)
		margin-bottom 10px
		margin-right 0
	margin-right 30px
.promotion-slider__info
	+below(768px)
		width 100%
		text-align center
	width 60%
.promotion-slider__title
	+below(768px)
		font-size 18px
		min-height 40px
	font-size 24px
	margin-bottom 10px
